webclient-spa/app/views/corfwf/tasks.html
<h3>{{ table.header }}
   <div class="pull-right btn-group">
      <button class="mb-sm btn btn-primary btn-outline mr-sm" ng-if="table.showBtnAmount|| table.showBtnEmitFolio">{{ table.selectedAmount | currency }}</button>
      <button class="mb-sm btn btn-primary mr-sm" ng-disabled="table.approveBtnAmount" ng-if="table.showBtnAmount" ng-click="table.wfOutput('prop_corf_estadoTarea', 'Emision_Folio', 'approveBtnAmount')">
         <span ng-show="table.approveBtnAmount"><i class="fa fa-refresh fa-spin"></i>
         </span>
         <span>Aprobar</span>
      </button>
      <button class="mb-sm btn btn-warning" ng-if="table.showBtnAmount" ng-disabled="table.rejectBtnAmount" ng-click="table.wfOutput('prop_corf_estadoTarea', 'Rechazado_por_Corfo', 'rejectBtnAmount')">
         <span ng-show="table.rejectBtnAmount"><i class="fa fa-refresh fa-spin"></i>
         </span>
         <span>Rechazar</span>
      </button>
      <button class="mb-sm btn btn-primary mr-sm" ng-if="table.showBtnApproveLote" ng-disabled="table.approveBtnOutput" ng-click="table.wfOutput('prop_corf_estadoTarea', 'Aprobado_en_lote', 'approveBtnOutput')">
         <span ng-show="table.approveBtnOutput"><i class="fa fa-refresh fa-spin"></i>
         </span>
         <span>Aprobar Lote</span>
      </button>
      <button class="mb-sm btn btn-warning" ng-if="table.showBtnRejectLote" ng-disabled="table.rejectBtnOutput" ng-click="table.wfOutput('prop_corf_estadoTarea', 'Rechazado_en_lote', 'rejectBtnOutput')">
         <span ng-show="table.rejectBtnOutput"><i class="fa fa-refresh fa-spin"></i>
         </span>
         <span>Rechazar Lote</span>
      </button>
      <button class="mb-sm btn btn-primary mr-sm" ng-click="table.openModalFolio()" ng-if="table.showBtnEmitFolio">Emitir Folio de Pago</button>
   </div>
   <small>{{ table.headerDesc }}</small>
</h3>
<div class="container-fluid">
   <div class="flex flex-row">
      <div class="flex-1" ng-style="table.selectedNode ?{width:'calc(100% - 250px)'} :undefined">
         <div class="ag-angle" ag-grid="table.gridOptions" style="width: 100%; height: 700px;"></div>
      </div>
      <div class="flex-0" style="width:250px;" ng-if="table.selectedNode">
         <div class="panel panel-default ml-sm">
            <div class="panel-body">
               <p class="lead"> <a href="#">{{ table.selectedNode.data.prop_corf_numeroOperacionIfi }} / {{ table.selectedNode.data.prop_corf_rut }}</a>
               </p>
               <p>
                  <button class="btn btn-default btn-sm" type="button" ng-if="showBtnUploadFiles"><i class="fa fa-paperclip"></i>
                  </button>
               </p>
               <p>
                  <select class="chosen-select input-md" chosen="" ng-model="inputg1" width="'200px'">
                     <option value=""></option>
                     <option value="delete">Anular Proceso</option>
                     <option value="approveLote">Aprobar Lote</option>
                     <option value="rejectLote">Rechazar Lote</option>
                  </select>
               </p>
               <p class="bg-warning-dark" ng-if="table.selectedNode.data.prop_corf_rechazoReglas">{{ table.selectedNode.data.prop_corf_rechazoReglas }}</p>
               <p></p>
            </div>
         </div>
      </div>
   </div>
</div>
<script type="text/ng-template" id="withInlineController">
   <form class="ngdialog-message" name="formAmount"><h3 class="mt0">Asociar Comprobante de Pago</h3><p><div class="form-group"><label>Declarar monto del comprobante ( Monto Seleccionado: {{ model.selectedAmount | currency }} )</label><input class="form-control" name="amountValue" required="" ng-model="model.amountValue" type="text" max-allowed="model.selectedAmount" money-mask=""/><span class="text-danger" ng-show="validateInput('amountValue', 'required')">El monto es requerido</span><span class="text-danger" ng-show="validateInput('amountValue', 'maxAllowed')">El monto excede el maximo permitido</span></div><div class="form-group"><label>Adjuntar comprobante de pago</label><input class="form-control" name="fileInput" required="" ng-model="model.fileInputAmount" filestyle="" type="file" data-button-text="Seleccionar Archivo" data-classbutton="mb-sm btn btn-primary" data-classinput="form-control inline" file-change="onUploadFileAmount"/><span class="text-danger" ng-show="validateInput('fileInput', 'required')">El archivo es requerido</span></div></p><div class="text-right"><button class="btn btn-primary" type="button" ng-click="emitFolio()">Emitir Folio</button></div></form>
</script>

webclient-spa/master/pug/views/corfwf/tasks.pug
h3 {{ table.header }}
    .pull-right.btn-group

        //---acciones del paso pre aprobar corfo
        button.mb-sm.btn.btn-primary.btn-outline.mr-sm(
            ng-if="table.showBtnAmount|| table.showBtnEmitFolio"
        ) {{ table.selectedAmount | currency }}

        button.mb-sm.btn.btn-primary.mr-sm(
            ng-disabled="table.approveBtnAmount"
            ng-if='table.showBtnAmount',
            ng-click="table.wfOutput('prop_corf_estadoTarea', 'Emision_Folio', 'approveBtnAmount')"
        ) 
            span(ng-show="table.approveBtnAmount")
                i.fa.fa-refresh.fa-spin
            span Aprobar
        button.mb-sm.btn.btn-warning(
            ng-if='table.showBtnAmount', 
            ng-disabled="table.rejectBtnAmount",
            ng-click="table.wfOutput('prop_corf_estadoTarea', 'Rechazado_por_Corfo', 'rejectBtnAmount')"
        ) 
            span(ng-show="table.rejectBtnAmount")
                i.fa.fa-refresh.fa-spin
            span Rechazar
        //----
        
        button.mb-sm.btn.btn-primary.mr-sm(
            ng-if='table.showBtnApproveLote',
            ng-disabled="table.approveBtnOutput",
            ng-click="table.wfOutput('prop_corf_estadoTarea', 'Aprobado_en_lote', 'approveBtnOutput')"
        ) 
            span(ng-show="table.approveBtnOutput")
                i.fa.fa-refresh.fa-spin
            span Aprobar Lote
        button.mb-sm.btn.btn-warning(
            ng-if='table.showBtnRejectLote', 
            ng-disabled="table.rejectBtnOutput",
            ng-click="table.wfOutput('prop_corf_estadoTarea', 'Rechazado_en_lote', 'rejectBtnOutput')"
        ) 
            span(ng-show="table.rejectBtnOutput")
                i.fa.fa-refresh.fa-spin
            span Rechazar Lote

        button.mb-sm.btn.btn-primary.mr-sm(
            ng-click='table.openModalFolio()',
            ng-if='table.showBtnEmitFolio' 
        ) Emitir Folio de Pago
        

    small {{ table.headerDesc }}

.container-fluid
    .flex.flex-row
        .flex-1(ng-style="table.selectedNode ?{width:'calc(100% - 250px)'} :undefined")
            .ag-angle(ag-grid='table.gridOptions', style="width: 100%; height: 700px")
        .flex-0(style="width:250px", ng-if="table.selectedNode")
            .panel.panel-default.ml-sm
                .panel-body
                    p.lead 
                        a(href="#") {{ table.selectedNode.data.prop_corf_numeroOperacionIfi }} / {{ table.selectedNode.data.prop_corf_rut }}
                    p
                        button.btn.btn-default.btn-sm(type="button", ng-if="showBtnUploadFiles")
                            i.fa.fa-paperclip
                    p
                        select.chosen-select.input-md(chosen='', ng-model='inputg1', width="'200px'")
                            option(value='')
                            option(value="delete") Anular Proceso
                            option(value="approveLote") Aprobar Lote
                            option(value="rejectLote") Rechazar Lote
                    p.bg-warning-dark(ng-if="table.selectedNode.data.prop_corf_rechazoReglas" ) {{ table.selectedNode.data.prop_corf_rechazoReglas }}
                    p 
                        //- ul.list-group
                        //-     li.list-group-item.clearfix
                        //-         .pull-left.mr
                        //-             img.img-responsive.thumb48(src="app/img/dummy.png", alt="App")
                        //-         .pull-right
                        //-             button(type="button").btn.btn-default: strong Revoke
                        //-         p.text-bold.mb0 Application #1
                        //-         small Ut turpis urna, tristique sed adipiscing nec, luctus quis leo.
                        //-     li.list-group-item.clearfix
                        //-         .pull-left.mr
                        //-             img.img-responsive.thumb48(src="app/img/dummy.png", alt="App")
                        //-         .pull-right
                        //-             button(type="button").btn.btn-default: strong Revoke
                        //-         p.text-bold.mb0 Application #2
                        //-         small Ut turpis urna, tristique sed adipiscing nec, luctus quis leo.
                        //-     li.list-group-item.clearfix
                        //-         .pull-left.mr
                        //-             img.img-responsive.thumb48(src="app/img/dummy.png", alt="App")
                        //-         .pull-right
                        //-             button(type="button").btn.btn-default: strong Revoke
                        //-         p.text-bold.mb0 Application #3
                        //-         small Ut turpis urna, tristique sed adipiscing nec, luctus quis leo.
            //- pre {{table.selectedTask|json}}
script(type="text/ng-template", id="withInlineController")
    form.ngdialog-message(name="formAmount")
        h3.mt0 Asociar Comprobante de Pago
        p
            .form-group
                label Declarar monto del comprobante ( Monto Seleccionado: {{ model.selectedAmount | currency }} )
                input.form-control(
                    name="amountValue"
                    required=""
                    ng-model="model.amountValue"
                    type="text", 
                    max-allowed="model.selectedAmount"
                    money-mask=""
                )
                span.text-danger(ng-show="validateInput('amountValue', 'required')") El monto es requerido
                span.text-danger(ng-show="validateInput('amountValue', 'maxAllowed')") El monto excede el maximo permitido

            .form-group
                label Adjuntar comprobante de pago
                input.form-control(
                    name="fileInput"
                    required=""
                    ng-model="model.fileInputAmount"
                    filestyle="", 
                    type='file', 
                    data-button-text="Seleccionar Archivo", 
                    data-classbutton="mb-sm btn btn-primary", 
                    data-classinput="form-control inline",
                    file-change="onUploadFileAmount"
                )
                span.text-danger(ng-show="validateInput('fileInput', 'required')") El archivo es requerido

        .text-right
            button.btn.btn-primary(type='button', ng-click='emitFolio()') Emitir Folio
