webclient-spa/app/views/form/workflow/create-multiple-activiti-worflow.html
<h3>Nueva carga de lote
   <div class="pull-right btn-group"></div>
   <small>Seleccionar un documento excel</small>
</h3>
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="panel panel-default">
            <div class="panel-heading">Datos de Entrada para inicio de instancias múltiples</div>
            <div class="panel-body">
               <form role="form" name="formCorfwf.uploadMultiple" ng-submit="formCorfwf.onSubmitUploadMultiple()" novalidate="">
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="form-group">
                           <label>Archivo Excel 2007(xlsx) de carga masiva</label>
                           <input class="form-control" name="fileInput" required="" ng-model="formCorfwf.model.fileInput" filestyle="" type="file" data-button-text="Seleccionar Archivo" data-classbutton="mb-sm btn btn-primary"
                           data-classinput="form-control inline" file-change="formCorfwf.onUploadFile" />
                           <span class="text-danger" ng-show="formCorfwf.validateInput('fileInput', 'required')">El archivo es requerido</span>
                        </div>
                     </div>
                     <div class="col-sm-12">
                        <div class="form-group">
                           <div class="text-right">
                              <button class="btn btn-primary mr-sm" type="submit">
                                 <span ng-show="formCorfwf.submitting"><i class="fa fa-refresh fa-spin"></i>
                                 </span>
                                 <span>Iniciar Procesos</span>
                              </button>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-12" ng-show="formCorfwf.showSendButton">
                        <div class="form-group">
                           <label>Datos disponibles para carga</label>
                           <div class="ag-angle" ag-grid="formCorfwf.gridOptions" style="width: 100%; height: 400px;"></div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>

webclient-spa/master/pug/views/form/workflow/create-multiple-activiti-worflow.pug
h3 Nueva carga de lote
    .pull-right.btn-group
    small Seleccionar un documento excel

.container-fluid
    .row
        .col-sm-12
            .panel.panel-default
                .panel-heading Datos de Entrada para inicio de instancias múltiples
                .panel-body
                    form(role='form', name="formCorfwf.uploadMultiple", ng-submit="formCorfwf.onSubmitUploadMultiple()", novalidate="")
                        .row
                            .col-sm-12
                                .form-group
                                    label Archivo Excel 2007(xlsx) de carga masiva
                                    input.form-control(
                                        name="fileInput"
                                        required=""
                                        ng-model="formCorfwf.model.fileInput"
                                        filestyle="", 
                                        type='file', 
                                        data-button-text="Seleccionar Archivo", 
                                        data-classbutton="mb-sm btn btn-primary", 
                                        data-classinput="form-control inline",
                                        file-change="formCorfwf.onUploadFile"
                                    )
                                    span.text-danger(ng-show="formCorfwf.validateInput('fileInput', 'required')") El archivo es requerido
                                
                            .col-sm-12    
                                .form-group
                                    .text-right
                                        button.btn.btn-primary.mr-sm(type="submit") 
                                            span(ng-show="formCorfwf.submitting")
                                                i.fa.fa-refresh.fa-spin
                                            span Iniciar Procesos
                            .col-sm-12(ng-show="formCorfwf.showSendButton")
                                .form-group
                                    label Datos disponibles para carga
                                    .ag-angle(ag-grid='formCorfwf.gridOptions', style="width: 100%; height: 400px;")
